{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('inicio') }}">Mantresde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'cliente' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('cliente_listar') }}">Clientes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'empresa' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('empresa_listar') }}">Empresas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'confired' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('confired_listar') }}">ConfiRedes</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'software' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('software_listar') }}">Softwares</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'router' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('router_listar') }}">Routers</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'servidor' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('servidor_listar') }}">Servidores</a>
                </li>
            </ul>
            <span class="navbar-text">
                Navbar text with an inline element
            </span>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
